@import 'var';
@import 'mixin';

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

.body-wrapper {
    background-image: url("../assets/bg.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.icon-container {
    @include icon-styles;

    .icon-container {
        @include flex-center-column;

        img {
            height: 40px;
        }
    }

    .icon-box{
        &:hover {
            cursor: pointer;
        }
    }
}

.task-bar {
    height: $task-bar-height;
    background-color: $background-color;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .date-time-container {
        padding-right: $padding-right;
    }
}