* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainContainer {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: aquamarine;
}

h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 5rem;
    color: #333;
}

.inputContainer {
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inputContainer input {
    width: 400px;
    padding: 10px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
}

.inputContainer button {
    padding: 10px 20px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.outputContainer {
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.loading {
    text-align: center;
    display: none;
}

.cardWrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 190px;
    height: 254px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img {
    background-color: #ffcaa6;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.card-info {
    padding-top: 10%;
}

/*Text*/
.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
}

.text-body {
    font-size: .9em;
    padding-bottom: 10px;
}

/*Hover*/
.card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}